name: Links

on:
    repository_dispatch:
    workflow_dispatch:
    schedule:
        - cron: "00 00 * * *"

jobs:
    linkChecker:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5

            - name: Link Checker
              id: lychee
              uses: lycheeverse/lychee-action@master
              with:
                  args: -- '*.md'
                  fail: true
